/* Gobal Stayle */
*{
   background-color: none;
   margin: 0;
   padding: 0;
   
}

 body{margin: 0 15px;
 font-family: 'Helvetica Neue', Arial, sans-serif;
 color: #333;}
 
.navbar{
      
   display: flex;
justify-content: space-between;
align-items: center;
background: #f9f9f9;
padding: 10px 30px;
color: aliceblue;;
}
.nav-menu { list-style: none; 
   display: flex;
    gap: 20px;
    
;}
 .nav-menu li {
     cursor: pointer;
 }
 .search-btn {
    background: #C0FF33;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
}
  /* Hero */
  .hero {
      background: url('faundation\ co.jpg') center no-repeat;
      min-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
        padding: 0 0;
  }
      .hero h1 {
        font-size: 48px;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    }

    .hero p {
        font-size: 24px;
    }

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
 /* Buttons */
 .btn {
     padding: 15px 30px;
     border-radius: 8px;
     text-decoration: none;
     font-weight: bold;
 }

     .btn.purple {
         background: #6B2D8F;
         color: white;
     }

     .btn.lime {
         background: #C0FF33;
         color: black;
     }

     .btn.white {
         background: white;
         color: #39022d;
     }

     .btn:hover {
         opacity: 0.8;
     }
      /* About */
      
.about-text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding: 60px 0;
 }
 .about-image-grid {
    display:grid;
 grid-template-columns: 1fr 1fr;
    gap: 50px;
 /* right column width: 50%;  */

 }

       /* Courses */
  .courses {
    
      padding: 60px;
      text-align: center;
  }

  .course-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 40px;
  }

  .card {
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 20px;
  }

      .card img {
          width: 100%;
          height: 200px;
          object-fit: cover;
      }
          /* Footer */
    .footer {
        background: #2C1A4D;
        color: white;
        padding: 60px;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: (4, 1fr);
        gap: 40px;

    }

    .footer .teal {
        color: #00BFA5;
    }

    .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

        ul li {
            margin: 5px 0;
        }

            ul li:hover {
                text-decoration: underline;
            }

    .copyright {
        text-align: center;
        border-top: 1px solid rgba(255,255,255,0.1);
        margin-top: 40px;
        padding-top: 20px;
    }

